/*

      1. 标点符号中英文
      2. 确定改正确的页面


      行内元素
      块元素

      如何使一个容器变成flex布局

      1. 外层的容器设置 display:flex

      2. 可以忽略到空格和换行

    */

body{
    padding:0;
    margin:0;
    overflow-x: hidden;

}
.header{
    width:100%;height:44px;
    background-color: #9d9d9d;
    color:#fff;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}
.menu{
    width:100%;height:44px;
    background:#ccc;

}
.menubox{
    height:100%;background: red;
}
.menu a{
    float:left;
    height:100%;
    padding:0 15px;
    line-height: 44px;
    text-decoration: none;
    color:#000;
}
.imgbox{
    width:100%;
    height:150px;
    margin-bottom: 10px;
}
.imgbox img{
    width:100%;height:100%;
}

.imgboxlist{
    background-image: url(/imgs/demo.PNG) ;
    width:100%;height:100%;
    background-size: cover;
    background-position: center;
    display: block;
}

.list{
    width:100%;height:120px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
.list .left{
    width:40%;height:100%;
    background-image:url(/imgs/xm.JPG) ;
    background-position: center;
    background-size: cover;

}
.list .right{
    width: 40%;height:100%;

}
.footer{
    position: fixed;
    bottom: 0;left:0;
    width:100%;height:44px;
    background:#ccc;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.footer a{
    color:#000; text-decoration: none;
    font-size:18px;font-weight: bold;


}
.space{
    width:100%;height:44px;
}


.list:nth-of-type(1){
    transform: translate(-100%,0);
    animation: list 1s forwards ;
}
.list:nth-of-type(2){
    transform: translate(-100%,0);
    animation: list 1s forwards .5s ;
}
.list:nth-of-type(3){
    transform: translate(-100%,0);
    animation: list 1s forwards 1s;
}

.list:nth-of-type(4){
    transform: translate(-100%,0);
    -webkit-animation: list 1s forwards 1.5s;
}



@-webkit-keyframes list {
    0%{
        -webkit-transform: translate(-100%,0);
    }
    100%{
        -webkit-transform: translate(0,0);
    }
}